#contact {
    width: 100%;
    height: 100vh; /*임시*/
    display: flex;
    position: relative;
}
.contact_box {
    width: 50%;
    position: relative;
}
.contact_box_inner {
    width: 78%;
    max-width: 750px;
    margin: 100px 10px 30px 0; 
    float: right;
}
.contact_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;
}
.contact_title::before {
    content: '';
    width: 100%;
    border-bottom: 4px solid #000;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.contact_title::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #000;
    position: absolute;
    left: 0;
    bottom: -15px;
}
.contact_title h3 {
    font-size: 30px;
}
.contact_title span {
    font-size: 10px;
    font-weight: 10;
    margin-top: 20px;
}
.contact_link {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.contact_link a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/contactLink.png);
    background-repeat: no-repeat;
}
.contact_link a:nth-child(2){
    background-position: -50px 0;
}
.contact_link a:nth-child(3){
    background-position: -100px 0;
}
.contact_subtext {
    font-size: 10px;
    color: #999999;
    line-height: 15px;
    margin-bottom: 150px;
}
.contact_subtext p:first-child {
    margin-bottom: 5px;
}
.contact_address {
    margin-bottom: 84px;
}
.contact_address span {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.contact_address address {
    font-size: 45px;
}
.contact_address address em {
    font-weight: 700;
}

.contact_email {
    margin-bottom: 84px;
}
.contact_email span {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.contact_email div {
    font-size: 45px;
}
.contact_email div em {
    font-weight: 700;
}
.contact_emailBtn {
    display: inline-block;
    width: 400px;
    height: 84px;
}
.contact_emailBtn button {
    background-color: #151515;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact_emailBtn button span:first-child {
    display: inline-block;
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}
.contact_emailBtn button span:last-child {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3639 1.58555C21.3639 0.791063 20.6659 0.147006 19.8049 0.147006L5.77352 0.147005C4.91249 0.147005 4.21448 0.791062 4.21448 1.58555C4.21448 2.38003 4.91249 3.02409 5.77352 3.02409H18.2458V14.5324C18.2458 15.3269 18.9438 15.971 19.8049 15.971C20.6659 15.971 21.3639 15.3269 21.3639 14.5324L21.3639 1.58555ZM2.64586 19.4527L20.9073 2.60275L18.7025 0.568345L0.441051 17.4183L2.64586 19.4527Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}
.contact_finish {
    font-size: 14px;
    color: #999;
    position: absolute;
    left: 22%;
    bottom: 30px;
}


.contact_img {
    width: 50%;
    background: url(../img/contact.jpg) no-repeat center / cover;
    position: relative;
}
.contact_img button {
    width: 235px;
    height: 60px;
    background-color: #151515;
    border-radius: 50px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}
.contact_img button .inner {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_img button .inner .text {
    width: 70%;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    text-align: left;
    margin-left: 20px;
}
.contact_img button .inner .arrow {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #262626;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292892C8.31658 -0.0976315 7.68342 -0.0976314 7.29289 0.292892L0.928932 6.65685C0.538407 7.04738 0.538407 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM9 21L9 1L7 1L7 21L9 21Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.contact_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    margin-left: -80px;
    margin-top: -80px;
    width: 160px;
    height: 160px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='160' height='160' viewBox='0 0 160 160' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle cx='80' cy='80' r='80' fill='white'/%3E%3Cpath d='M149 79.5364C149 117.382 118.114 148.073 80 148.073C41.8861 148.073 11 117.382 11 79.5364C11 41.6911 41.8861 11 80 11C118.114 11 149 41.6911 149 79.5364Z' fill='white' stroke='%23151515' stroke-width='2'/%3E%3Ccircle cx='80' cy='80' r='63.5' stroke='url(%23pattern0)'/%3E%3Cpath d='M62.5067 15.5957L64.2389 18.5318L67.7531 18.5069L64.7343 20.2623L64.8418 23.7533L63.0038 20.7576L59.5954 20.8421L62.5084 19.0271L62.5067 15.5957Z' fill='%23151515'/%3E%3Cpath d='M127.007 33.0078L125.273 35.9429L126.993 39.0078L123.997 37.2125L120.993 38.9931L122.728 35.9366L121.007 32.9931L124.004 34.6669L127.007 33.0078Z' fill='%23151515'/%3E%3Cpath d='M144.087 98.1738L140.679 98.0917L138.842 101.088L138.948 97.5971L135.928 95.8425L139.442 95.8664L141.173 92.9288L141.173 96.361L144.087 98.1738Z' fill='%23151515'/%3E%3Cpath d='M92.0206 141.338L94.9121 139.532L94.7987 136.02L96.6296 138.993L100.117 138.798L97.1684 140.711L97.3387 144.116L95.4509 141.25L92.0206 141.338Z' fill='%23151515'/%3E%3Cpath d='M33 121L35.9393 122.727L39 121L37.2121 124L39 127L35.9393 125.272L33 127L34.6665 124L33 121Z' fill='%23151515'/%3E%3Cpath d='M16 61.9902L19.4088 62.0223L21.2017 58.9999L21.1466 62.4914L24.1921 64.2016L20.6775 64.2292L18.9904 67.1919L18.9397 63.7601L16 61.9902Z' fill='%23151515'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_566_117' transform='scale(0.015625)'/%3E%3C/pattern%3E%3Cimage id='image0_566_117' width='64' height='64' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAONJREFUeF7t20EOhEAIRFG4/6F7DvEnYeFzryQIv6pBd2behOu9dPvsbog+k+NLgArQAqmJcw9iAAhSgZKB3IJkkAySQTJ4CiE+gA8oBeg0mH3Ai084P89HhqwEqIA209ICsQdjAeaZIgaAYKxBDMCAYy8fXwAIgiAIcoJpJEYGI4VjB3YrbC9gL2AvkCB43cM5PgZgAAZgQFnNZAhdGykQBEEQBEEQDBmgAm2glM/z+QUYisYUGoldO7kY32IEAzCg6RgIRgjFAsw+AgRBMNYgBmCAT2TCYfoPPz/HCqQCX1eBHzHnv7C7WhBSAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 10s linear infinite forwards;
}
.logo_text span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    font-size: 8px;
}
.logo_text span em {
    font-size: 14px;
}
@keyframes rotate {
    100% {transform: rotate(360deg);}
}