@import url('https://webfontworld.github.io/amore/AritaBuri.css');
#myskill {
    width: 100%;
    max-width: 1500px;
    padding-top: 50px;
    margin: 0 auto;
}
.skill_textBox {
    margin-bottom: 70px;
}
.skill_textBox h3 {
    font-size: 40px;
    font-weight: 700;
    color: #383838;
    margin-bottom: 10px;
}
.skill_textBox p {
    width: 100%;
    max-width: 680px;
    font-size: 18px;
    line-height: 25px;
}

.skill_iconBox {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.skill_iconBox .icon {
    width: 13.3333%;
    margin-right: 4%;
    margin-bottom: 100px;
}
.skill_iconBox .icon:nth-child(6){
    margin-right: 0;
}
.skill_iconBox .icon figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 248, 228, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.skill_iconBox .icon:nth-child(n+7) figure {
    background-color: rgba(245, 244, 244, 0.6);
}
.skill_iconBox .icon figure img {
    width: 80px;
    height: 80px;
}
.skill_iconBox .icon:nth-child(4) figure img{
    width: 110px;
    height: 110px;
}
.skill_iconBox .icon:nth-child(7) figure img{
    width: 120px;
    height: 120px;
}
.skill_iconBox .icon span {
    font-family: 'Hana';
    font-weight: 300;
    font-size: 25px;
    display: block;
    text-align: center;
}
