/* 타이틀 가상요소 변수 */
html {
    --title-top0 : 1;
    --title-top1 : 1;
    --title-top2 : 1;
    --title-top3 : 1;
    --title-top4 : 1;
    --title-top5 : 1;
    --title-top6 : 1;
    --title-top7 : 1;
}