/* 프로필 배경 */
#about {
    height: 200vh;
    background: url("../img/about_Bg.png") no-repeat center / cover;
    padding-top: 5.2083vw;
}

/* 프로필 텍스트 */
.about_textBox {
    width: 50%;
    height: 25vw;
    color: #383838;
    background-color: #666;
    z-index: 1;
    margin: 0 auto 10.4167vw auto;
    position: relative;
}
.about_textBox p {
    margin-bottom: 2.3958vw;
    font-size: 1.4583vw;
    line-height: 1.8750vw;
}
.about_textBox p .bold {
    display: block;
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 3.6458vw;
    margin-bottom: 0.7292vw;
    word-break: keep-all;
    mix-blend-mode: color-burn;
    position: absolute;
    left: 0;
}
.about_textBox p .bold-1 {
    top: 2.4vw;
    /* top: 10%; */
}
.about_textBox p .bold-2 {
    top: 6.2vw;
    /* top: 25%; */
}
.about_textBox p .bold span {
    display: inline-block;
    min-width: 1vw;
    transform: translateY(1.0417vw);
    opacity: 0;
}
.about_textBox p .normal {
    position: absolute;
    left: 0;
    top: 9vw;
    /* top: 35%; */
    mix-blend-mode: color-burn;
}
.about_textBox p .normal span {
    display: inline-block;
    min-width: 0.2vw;
    opacity: 0;
}
.about_textBox p .aText03 {
    transform: translateY(1.8229vw);
}
.about_textBox p .aText04 {
    transform: translateY(3.9063vw);
}
.about_textBox p .aText05 {
    transform: translateY(5.9896vw);
}
.about_textBox p .aText06 {
    transform: translateY(8.0729vw);
}
.about_textBox p .aText07 {
    transform: translateY(10.1563vw);
}


/* 프로필 사진 */
.about_textBox figure {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}
.about_textBox figure img {
    display: inline-block;
    width: 17.1875vw;
    height: 17.1875vw;
    border-radius: 50%;
}

.profile_picture {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile_picture .cards {
    width: 15.6250vw;
    height: 23.5938vw;
    filter : grayscale(1);
}
.profile_picture .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 15.6250vw;
    height: 23.5938vw;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}
.profile_picture .card-1 {
    background: url(../img/about_sampleP01.png);
}
.profile_picture .card-2 {
    background: url(../img/about_sampleP02.png);
}
.profile_picture .card-3 {
    background: url(../img/about_sampleP03.png);
}



 

