html {
    --border-right-transform: scaleX(0);
    --title-down : 1;
    --about-border: 0;
}


body {
    overflow: hidden;
    /* box-sizing: border-box; */
}
body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height: 100%;

}
body::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
    background: rgba(20, 207, 147, 0.8);
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}

/* font */
.ppEiko {
    font-family: 'PP Eiko';
    font-weight: 500;
}
.nanum {
    font-family: 'NanumSquareNeo';
}

.container {
    
}

.scrollNum {
    position:fixed;
    left: 0;
    top: 100px;
}

@media (max-width: 1300px){
    body {
        width: 96%;
        padding: 0 2%;
    }
}