.prevEffect {
    width: 100%;
    height: 50vh;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* line-height: 50vh; */
    /* background-color: #666; */
}
.prevEffect span {
    display: inline-block;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
}

#effect {
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.effect_inner {
    width: 808%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overscroll-behavior: none;
    overflow-x: hidden;

}
.effect_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.effect_title h2 {
    font-size: 10vw;
    color: #fff;
    line-height: 0.3;
    margin-top: 12vh;
    margin-right: 30vw;
}
.effect_title .emphasis {
    display: inline-block;
    font-size: 12vw;
    font-weight: 100;
    color: #14CF93;
    margin-left: 28vw;
    margin-bottom: 8vh;
}
.effect_titleLine {
    display: block;
    font-family: 'PP Eiko';
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    text-align: right;
    position: relative;
}
.effect_titleLine::before {
    content: '';
    width: 50%;
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    bottom: -10px;
    transform-origin: right;
    transform: var(--border-right-transform);
    transition: all 1.2s;
}













.effectContBox {
    width: 700%;
    border-left: 1px solid #454545;
    display: flex;
    flex-wrap: nowrap;
}

.effectCont {
    width: 100vw;
}

.effectCont_inner {
    color: #fff;
    height: 100vh;
}
.effectName_box {
    height: 16%;
    border-bottom: 1px solid #454545;
    position: relative;
}
.effectName {
    position: absolute;
    left: 1.2vw;
    bottom: 1.2vw;
    text-align: center;
    line-height: 5.5vh;
    height: 5vh;
    width: 14vw;
    background-color: #fff;
    border-radius: 60px;
    font-size: 1.2vw;
    color: #000;
}
.effectName img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5vw;
    height: 1.5vw;
}

.effectMain_box {
    width: 100%;
    height: 84%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #454545;
}
.effectMain_box:first-child {
    border-left: 0;
}

.effectMain {
    width:79.9%;
}
.effectMain_inner {
    display: flex;
    padding: 1.2vw;
}
.effectMain_inner img {
    width: 50%;
    /* width: 100%; */
    /* height: 325px; */
    /* height: 100%; */
    margin-right: 1.2vw;
}
.effectMain_inner .effectText_box {
    width: 50%;
}
.effectMain_inner .effectText_box h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 3px;
}
.effectMain_inner .effectText_box span {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 30px;
}

.effectMain_inner .effectText_box p {
    font-size: 20px;
    line-height: 1.74;
    word-break: keep-all;
}

.effectSource {
    width: 20%;
    /* height: 385px; */
    
}
.effectSource_inner {
    padding: 30px;
}
.effectSource_inner h4 {
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 14px;
    word-break: keep-all;
}
.effectSource_inner .source {}
.effectSource_inner .source li {}
.effectSource_inner .source li a {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}

.efc01 {
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
}
.efc02 {
    border-bottom: 1px solid #454545;
}
.efc03 {
    border-right: 1px solid #454545;
}


/* @media (max-width: 1500px){
    .effectMain_inner img {
        width: 50%;
    }
    .effectMain_inner .effectText_box h3 {
        font-size: 36px;
    }
    .effectMain_inner .effectText_box p {
        font-size: 18px;
    }
    .effectSource_inner .source li a {
        font-size: 16px;
    }
} */
/* @media (max-width: 1024px){
    .effect_title h2 {
        font-size: 160px;
        left: 40%;
        top: 35%;
        transform: translate(-50%, -50%);
    }
    .effect_title .emphasis {
        font-size: 210px;
        left: 60%;
        top: 51%;
        transform: translate(-50%, -50%);
    }
    .effectName {
        line-height: 60px;
        width: 260px;
        height: 60px;
        font-size: 25px;
    }
    .effectName img {
        width: 34px;
        height: 34px;
    }

    .effectMain {
        width:79.9%;
    }
    .effectMain_inner img {
        width: 65%;
        margin-right: 20px;
    }
    .effectMain_inner .effectText_box {
        width: 35%;
    }
    .effectMain_inner .effectText_box h3 {
        font-size: 26px;
        margin-bottom: 2px;
    }
    .effectMain_inner .effectText_box span {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .effectMain_inner .effectText_box p {
        font-size: 15px;
        line-height: 1.54;
    }
    
    .effectSource {
        width: 20%;
    }
    .effectSource_inner h4 {
        font-size: 18px;
        margin-bottom: 14px;
    }
    .effectSource_inner .source li a {
        color: #fff;
        font-size: 14px;
        line-height: 1.7;
    }
}
@media (max-width: 768px){
    .effect_title h2 {
        font-size: 160px;
        left: 40%;
        top: 35%;
        transform: translate(-50%, -50%);
    }
    .effect_title .emphasis {
        font-size: 210px;
        left: 60%;
        top: 51%;
        transform: translate(-50%, -50%);
    }
} */

