#canvas {
    position: absolute;
    opacity: 0;
}

#title {
    width: 100%;
    height: 100vh;
    background: #FCFAF8;
}
.title_inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_inner .textBox {
    font-size: 11vw;
    line-height: 0.8;
    letter-spacing: -0.51vw;
    color: #383838;
    text-align: center;
    padding: 0 5vw;
    text-align: center;
}
.tText01 {
    transform: translateX(0%) translateY(35%);
}
.tText02 {
    position: relative;
    font-weight: 300;
    font-style: italic;
    margin-top: -1.0417vw;
    z-index: 10;
    letter-spacing: -0.5208vw;
    color: #00D293;
    font-size: 12vw;
}
.tText03 {
    transform: translateX(0) translateY(-35%);
}
.tText span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px);
}
.split1 {

}
.split2 {
    transform: translate(0, 0) scale(1.6) rotate(20deg);
}
.split3 {

}

#sample {
    width: 100%;
    height: 100vh;
    background-color: #000;
}